// main colors
$white: #ffffff;
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;

// primary colors
$pale_blue: #e0e8ff;
$bright_blue: #3829e0;

// natural colors 
$very_pale_blue: #f5f7ff;
$desaturated_blue: #7280a7;
$dark_blue: #1f2f56;