html {
    font-family: 'Red Hat Display', sans-serif;
}
h1, h2, h3 {
    margin: 0px;
}

h1 {
    font-size: 1.625rem;
    font-weight: 900;
    color: $dark_blue;
}

body {
    font-size: 1rem;
}

p{
    margin: 0%;
}